{{!-- <p class="d3-hello" {{did-insert this.hello}}></p> --}}
<div id="tooltip"><AuLoader /></div>
{{!-- template-lint-disable no-invalid-interactive --}}
<div class="bp-map" {{did-insert  this.initMap}} {{on "click" this.addToService}}> 
</div >


