<div class="au-o-box--flush au-u-margin-top-small">
<AuHeading @level="6" @skin="6">
Hoe zoekt u in deze app naar de gewenste informatie?
</AuHeading>
<div class="au-o-box--flush au-u-margin-top-small">
<AuPill @skin="action">
Klik op een van de rubrieken onderaan de kaart om een onderwerp te kiezen. Daarna klikt u op de kaart van Vlaanderen op de gemeente van uw keuze. Om uw gemeente te kiezen kunt u bovenaan de kaart ook de naam van de gemeente invullen of selecteren.
</AuPill>
</div>
</div>
<div class="au-o-box--small au-u-margin-top-small">
<div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-4">
            <AuBadge @icon="info-circle" @skin="brand" />
          </div>
          <div class="au-o-grid__item au-u-3-4" >
          <LinkTo class="au-card_text-blue" @route="besturen">
          <span >| Samenstelling van College van Burgemeester en Schepenen Gemeenteraad</span>
          <AuHelpText>Wie maakt deel uit van welk bestuursorgaan?</AuHelpText>
          </LinkTo> 
          </div>
        </div>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-4">
            <AuBadge @icon="info-circle" @skin="brand" />
          </div>
          <div class="au-o-grid__item au-u-3-4">
          <LinkTo class="au-card_text-blue" @route="agenda">
          <span>| Agenda</span>
          <AuHelpText>Er stond de agendapunt van Gemeenteraad en Raad voor Maatschappelijk Welzijn van uw gemeente.</AuHelpText>
          </LinkTo> 
          </div>
        </div>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-4">
            <AuBadge @icon="info-circle" @skin="brand" />
          </div>
          <div class="au-o-grid__item au-u-3-4">
          <LinkTo class="au-card_text-blue" @route="besluiten">
          <span>| Besluiten</span>
          <AuHelpText>Wat werd er recent besloten door de bestuurs-organen van uw gemeente? Hoe verliepen de stemmingen over de besluiten?</AuHelpText>
          </LinkTo>
          </div>
        </div>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-4">
            <AuBadge @icon="info-circle" @skin="brand" />
          </div>
          <div class="au-o-grid__item au-u-3-4">
          <LinkTo class="au-card_text-blue" @route="archief">
          <span>| Archieven Besluiten</span>
          <AuHelpText>Raadpleeg besluiten uit het verleden.<br>
          (vanaf xxxx en vroeger)</AuHelpText>
          </LinkTo>
          </div>
        </div>
      </div>
</div>
</div>
<br>